.article_title {
    margin: 10px 0;
}
.article_image {
    width: 100%;
}
.article_description {
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 10px;
}
.article_author {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}