.article_card {
    width: 30%;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.card_image {
    width: 100%;
}
.card_title {
    margin: 10px;
    font-size: 16px;
}
.card_author {
    margin: 0 10px 10px;
    font-size: 12px;
    font-weight: bold;
}
.card_description {
    margin: 0 10px 10px;
    font-size: 12px;
}